@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
    font-family: 'Roboto', sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.header-nav,
.footer-nav {
  font-family: 'Roboto', sans-serif;
}

.header-nav span,
.footer-nav span {
  color: #d4d4d4;
}

.bg-dark {
  background-color: #2c2c2c;
}

.text-dark {
  color: #d4d4d4; 
}

.text-hover-dark:hover {
  color: #a9a9a9; 
}

.panel-primary {
  border-color: #337ab7;
}

.panel-heading {
  background-color: #337ab7;
  border-color: #337ab7;
  color: white;
  font-size: 1.5em;
  font-weight: bold;
}

.panel-body {
  background-color: #2b2b2b;
}

.button-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.button-container button {
  width: 100%;
  padding: 20px;
  font-size: 1.2em;
  border: none;
  border-radius: 8px;
  transition: transform 0.2s;
}

.button-container button:hover {
  transform: scale(1.05);
}

.bg-blue {
  background-color: #337ab7;
  color: white;
}

.bg-white {
  background-color: white;
  color: #337ab7;
}